[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "sources_non_forked/bufexplorer.zip"]
	path = sources_non_forked/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "sources_non_forked/YankRing.vim"]
	path = sources_non_forked/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
